<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Fin de séance</title>
  </head>
  <body>
    <h1>Salut <%= @host.username %>,</h1>
    <p><%= @user.username %> a confirmé(e) que la séance est terminée. Vous allez recevoir votre paiement dans les 48h.</p>
    
    <p>Sportivement,</p>
    <p>À très vite sur <a href="https://front-keella.vercel.app/">keella</a> !</p>
  </body>
</html>