<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Demande de reservation</title>
  </head>
  <body>
    <h1>Salut <%= @host.username %> tu as reçu une demande de réservation !</h1>
    <p>
      <%= @user.username %> souhaite réserver une séance chez toi !
    </p>
    <p>
      Veuillez vérifier les places disponibles avant d'accepter une personne
    </p>
    <p>
      Vous pouvez valider, refuser ou voir le profil de l'utilisateur dans la page suivante : mon compte &gt; mes annonces &gt; cliquer sur votre annonce &gt; cliquer sur le profile
    </p>
    <p> À très vite sur <a href="https://front-keella.vercel.app/">keella</a> !</p>
  </body>
</html>