<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Demande acceptée</title>
  </head>
  <body>
    <h1>Salut <%= @user.username %>,</h1>
    <h2>Bonne nouvelle, ta demande a été acceptée !</h2>
    <p>Nombre de place confirmé : <%= @reservation.quantity %>, vous n'avez rien à faire.</p>
    <p>Etape suivante ?</p>
    <ol>
      <li>Vous préparer pour la séance</li>
      <li>Vous rendre à la séance</li>
      <li>A la fin de votre séance, vous n'avez rien à faire. L'hote cloturera la séance et il/elle sera automatiquement payé(e).</li>
    </ol>

    <p>Sportivement,</p>
    <p>À très vite sur front-keella.vercel.app !</p>
  </body>
</html>