<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Demande acceptée</title>
  </head>
  <body>
    <h1>Salut <%= @user.username %>,</h1>
    <h2>Bonne nouvelle, ta demande a été acceptée !</h2>
    <p>Nombre de place confirmé : <%= @reservation.quantity %>, vous n'avez rien à faire.</p>
    <p>Etape suivante ?</p>
    <ol>
      <li>Vous préparer pour la séance</li>
      <li>Vous rendre à la séance</li>
      <li>A la fin de votre séance, veuillez cloturer la séance afin de proceder au paiement de l'hote.</li>
    </ol>

    <p>Sportivement,</p>
    <p>À très vite sur <a href="https://front-keella.vercel.app/">keella</a> !</p>
  </body>
</html>